<!DOCTYPE HTML>
<html>
<head>
   <header>
    <div class="wrapper">
        <h1><a href="./home.html">SMAT</a><span class="color">.</span></h1>
        <nav>
            <ul>
                <li><a href="http://127.0.0.1:5000/">Social Media Analytics</a></li>
                <li><a href="about.html">About Us</a></li>



  <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
                <link rel="stylesheet" type="text/css" href="../css/style.css">
                <link rel="stylesheet" type="text/css" href="../static/css/header.css">
                <link rel="stylesheet" type="text/css" href="../static/css/hero.css">
                <link rel="stylesheet" type="text/css" href="../static/css/primarycnt.css">
                <link rel="stylesheet" type="text/css" href="../static/css/calltoaction.css">
                <link rel="stylesheet" type="text/css" href="../static/css/footer.css">
                 <link rel="stylesheet" type="text/css" href="../static/css/global.css">
                <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>

            </ul>
        </nav>
    </div>



</header>
    <style>
    header{
    background-color: rgba(0,0,0,0.4);

    }
    footer{
    background-color: transparent;
    }
    #hero-image {
    height: 580px;
    padding-top: 10px;
    background-image: url("../static/images/ccc.jpg")  ;
    background-size: 1450px 650px;
}
</style>

</head>
<body id="hero-image">
<div  >
    <div class="wrapper">
        <h2><strong>SOCIAL MEDIA ANALYTICS TOOL</strong><br/></h2>
        <h3>Analyze Decide Improve</h3>

    </div>



     <div id="cta">
    <div class="wrapper">

        <a href="./tab" class="button-2"></a>
    </div>
</div>
</div><footer>
    <div class="wrapper">


        <div class="clear"></div>
    </div>

 

</body>
</html>